<a href="https://colab.research.google.com/github/Mayankgaj/test/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("forward_rate_card.xlsx")

In [3]:
df

,COURIER,z1,z2,z3,z4,z5,COD\nCHARGES,COD\n%
0,Amazon\nShipping,37.29,44.92,47.46,52.54,66.10,23.73,0.019
1,Additional\n(0.5kg),37.29,44.92,47.46,52.54,66.10,23.73,0.019
2,Amazon\nShipping 1 KG,54.24,69.07,78.81,85.59,104.24,21.61,0.019
3,Additional\n(1kg),28.14,29.83,31.95,37.03,41.69,21.61,0.019
4,Amazon\nShipping 10\nKG,233.05,260.17,300.85,320.34,347.46,27.97,0.014
...,...,...,...,...,...,...,...,...
105,Additional\n(0.5kg),57.63,63.56,71.19,81.36,106.78,0.00,0.000
106,Xpressbees\nReverse QC,76.27,82.20,89.83,100.00,125.42,0.00,0.000
107,Additional\n(0.5kg),76.27,82.20,89.83,100.00,125.42,0.00,0.000
108,Xpressbees\nSurface,33.05,38.14,43.22,48.31,65.25,33.90,0.017
109,Additional\n(0.5kg),33.05,38.14,43.22,48.31,65.25,33.90,0.017

In [4]:
columns_name = ["Lsp", "Zone", "fwd_fixed_wt", "fwd_add_wt", "fwd_fix_rate", "fwd_rate", "Cod_fixed", "cod_rate", "Rto_fixed_wt", "rto_add_wt", "rto_fixed_rate", "rto_rate" ]

In [5]:
final = pd.DataFrame([], columns=columns_name )

In [6]:
final

Empty DataFrame
Columns: [Lsp, Zone, fwd_fixed_wt, fwd_add_wt, fwd_fix_rate, fwd_rate, Cod_fixed, cod_rate, Rto_fixed_wt, rto_add_wt, rto_fixed_rate, rto_rate]
Index: []

In [17]:
name = []
n = 1
for i in range(0, len(df)):
  if i % 2 == 0:
    name.append(df["COURIER"][i])

In [20]:
name

['Amazon\nShipping',
 'Amazon\nShipping 1 KG',
 'Amazon\nShipping 10\nKG',
 'Amazon\nShipping 2 KG',
 'Amazon\nShipping 5 KG',
 'Baba Express',
 'Bluedart\nExpress RAS',
 'Bluedart IND',
 'Bluedart IND\nRAS',
 'Delhivery\n10KG Reverse',
 'Delhivery\n20KG Reverse',
 'Delhivery 5KG\nReverse',
 'Delhivery Air',
 'Delhivery Air\nReverse',
 'Delhivery\nSurface',
 'Delhivery\nSurface 10\nK.G',
 'Delhivery\nSurface 2 K.G',
 'Delhivery\nSurface 20\nK.G',
 'Delhivery\nSurface 5 K.G',
 'Delhivery\nSurface\nReverse',
 'DTDC Air',
 'DTDC\nPremium',
 'DTDC Surface',
 'DTDC Surface\n1 K.G',
 'DTDC Surface\n10 K.G',
 'DTDC Surface\n20 K.G',
 'DTDC Surface\n3 K.G',
 'DTDC Surface\n5 K.G',
 'Ecom EXP',
 'Ecom RAS',
 'Ekart',
 'Ekart 1 K.G',
 'Ekart 10 K.G',
 'Ekart 2 K.G',
 'Ekart 3 K.G',
 'Ekart 5 K.G',
 'Kerry Indev',
 'Kerry Indev\n10KG',
 'Kerry Indev\n2KG',
 'Kerry Indev\n5KG',
 'Pidge',
 'Shadowfax',
 'Shadowfax 1\nK.G',
 'Shadowfax\nReverse',
 'Shadowfax\nReverse QC',
 'Smartr',
 'Xpressbees 1\nK.G',
 'Xpressbees\n10 K.G',
 'Xpressbees 2\nK.G',
 'Xpressbees\n20 K.G',
 'Xpressbees 5\nK.G',
 'Xpressbees\nAir',
 'Xpressbees\nReverse',
 'Xpressbees\nReverse QC',
 'Xpressbees\nSurface']